; TODO save window  position /resizing on restart
; (app get window & pass to lwjgl/create-app ... easy...
; user-config.edn (sound on/off/window fullcsreen/position/etc.)
{:window {:title "Cyber Dungeon Quest"
          :width  1440 ; TODO when setting full screen, uses the window size not full w/h, this is MBP full screen w/h
          :height 900
          :full-screen false
          :fps nil} ; TODO fix is set to 60 @ gdl
 :tile-size 48
 :log-lc? false
 :modules [[:game.entities.creature]
           [:game.skills.core]
           [:game.items.core]
           [:game.maps.data]
           [:game.media]
           [:game.ui.inventory-window]
           [:game.ui.action-bar]
           [:game.player.status-gui]
           ; screens
           [:game.screens.main {:bg-image "ui/moon_background.png"
                                :skip-main-menu false}]
           [:game.screens.load-session]
           [:game.screens.ingame]
           [:game.screens.minimap]
           [:game.screens.options]
           [:mapgen.tiledmap-renderer]
           [:entity-editor.screen]]
 :first-screen :game.screens.main}

