[
 {:id :meditation,
  :spell? true,
  :action-time 7000,
  :cooldown 0,
  :cost 1,
  :effect [:restore-hp-mana true],
  :image {:file "skills/images.png", :sub-image-bounds (64 96 32 32)}}
 {:id :nova,
  :spell? true,
  :action-time 300,
  :cooldown 0,
  :effect [:nova true],
  :image {:file "skills/images.png", :sub-image-bounds (0 64 32 32)}}
 {:id :projectile,
  :spell? true,
  :action-time 400,
  :cooldown 0,
  :cost 4,
  :effect [:projectile true],
  :image {:file "skills/images.png", :sub-image-bounds (96 32 32 32)}}
 {:id :spawn,
  :spell? true,
  :action-time 400,
  :cooldown 0,
  :cost 0,
  :effect [:spawn :bat],
  :image {:file "skills/images.png", :sub-image-bounds (160 64 32 32)}}
 ]
