({:id :vampire, :hp 2.5, :speed 1.5}
 {:id :toad, :hp 1.2, :speed 0.8}
 {:id :pixie, :hp 0.8, :speed 1.5}
 {:id :wraith, :hp 2.2, :speed 1.5}
 {:id :elf, :hp 1.0, :speed 1.5}
 {:id :worm, :hp 0.5, :speed 1.2}
 {:id :bird, :hp 0.8, :speed 1.5}
 {:id :zombie, :hp 2.5, :speed 0.5}
 {:id :banshee, :hp 1.5, :speed 1.2}
 {:id :moth, :hp 0.8, :speed 1.5}
 {:id :lizardman-blue, :hp 1.0, :speed 1.0}
 {:id :bat, :hp 0.5, :speed 1.5}
 {:id :snake, :hp 1.2, :speed 1.0}
 {:id :spirit, :hp 1.2, :speed 1.0}
 {:id :flies, :hp 0.5, :speed 1.5}
 {:id :minotaur, :hp 2.8, :speed 0.8}
 {:id :wisp, :hp 0.8, :speed 1.0}
 {:id :wolf, :hp 1.5, :speed 1.2}
 {:id :human, :hp 1.0, :speed 1.0}
 {:id :golem, :hp 3.5, :speed 0.5}
 {:id :mummy, :hp 2.2, :speed 0.8}
 {:id :beetle, :hp 1.2, :speed 0.8}
 {:id :beholder, :hp 3.5, :speed 1.2}
 {:id :valkyrie, :hp 1.5, :speed 1.0}
 {:id :spider, :hp 0.8, :speed 1.2}
 {:id :skeleton, :hp 1.5, :speed 1.0}
 {:id :dragon, :hp 4.5, :speed 0.5}
 {:id :ogre, :hp 2.8, :speed 0.8}
 {:id :drow, :hp 1.0, :speed 1.0}
 {:id :dwarf, :hp 1.2, :speed 0.8}
 {:id :barbarian, :hp 1.0, :speed 1.0}
 {:id :demon, :hp 3.2, :speed 1.5}
 {:id :mimic, :hp 2.5, :speed 0.8}
 {:id :lizardman-green, :hp 1.0, :speed 1.0}
 {:id :rat, :hp 0.8, :speed 1.5}
 {:id :halfling, :hp 0.8, :speed 1.0}
 {:id :goblin, :hp 0.8, :speed 1.2}
 {:id :lich, :hp 1.8, :speed 1.2}
 {:id :troll, :hp 3.5, :speed 0.5}
 {:id :elemental, :hp 2.2, :speed 1.0})
